*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
img{
    width: auto;
    height: auto;
    max-width: 100%;
}
.header{
    padding: 5px 0 10px 0;
    background: #fc6e29;
    color: white;
    font-weight: lighter;
}
.header-menu .navbar-brand,
.header-menu .navbar-toggler{
    display: none;
}
.header-menu{
    margin-left: 22px;
}
.header-menu ul li{
    margin-right: 20px;
}
.header-menu ul li a{
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
}
.header-menu ul li a:hover{
    text-decoration: underline;
}
.header-art{
    font-size: 18px;
    margin-left: 30px;
    margin-top: -10px;
}
.header-phone{
    font-size: 24px;
    text-align: center;
    margin-top: 3px;
}
.header-tab{
    font-size: 14px;
    text-align: center;
    margin-top: -7px;
}
.mask-adv{
    background: #fff;
}
.mask-adv-desc{
    padding: 35px 0;
}
.mask-adv-box{
    position: relative;
    left: 35px;
    z-index: 2;
}
.mask-adv-box h2{
    font-size: 60px;
    color: #aad400;
    text-transform: uppercase;
    margin-bottom: -5px;
}
.mask-adv-girl{
    margin-left: 55px;
}
.best-text{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.face-mask{
    max-width: 440px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.mask-list ul li{
    list-style: none;
}
.mask-list ul li:before{
    content: "\2714\0020";
}
.mask-img{
    position: absolute;
    top: -70px;
    left: 60px;
    z-index: 1;
}
.green-box{
    background: #aad400;
    padding: 30px 0;
    position: relative;
    z-index: 10;
}
.green-box-img{
    max-width: 364px;
    margin: 0 auto;
}
.green-box-form{
    margin-top: 10px;
}
.green-box-form h2{
    color: #fff;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
}
.green-box-price{
    color: #fff;
    font-size: 48px;
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.old-price{
    font-size: 24px;
    text-decoration: line-through;
    font-weight: 100;
}
.green-box-circles{
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.circle-box{
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid #fc6e29;
    border-radius: 50%;
    background: #fc6e29;
    color: #fff;
}
.time{
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.time h3{
    font-size: 48px;
    text-align: center;
    font-weight: 100;
    margin-bottom: -5px;
}
.green-form{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}
.green-form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
}
.green-form .btn{
    background: #fc6e29;
    color: #fff;
    font-size: 38px;
    width: 100%;
    padding: 4px 0;
    border-radius: 10px;
}
.white-block{
    background: #fff;
}
.white-block-forget{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    left: 30px;
}
.white-block-forget h2{
    font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fc6e29;
    margin-bottom: 45px;
}
.white-block-img{
    padding-top: 70px;
}
.white-block-box{
    margin-bottom: 20px;
}
.white-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 15px;
}
.white-block-carrot{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    left: -30px;
}
.white-block-carrot h2{
    font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #aad400;
    margin-bottom: 45px;
}
.review{
    background: #fc6e29;
    padding: 35px 0;
}
.review h2{
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
}
.circle-boxes{
    width: 96%;
    margin: 0 auto;
}
.review-circle{
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    color: #000;
}
.review-text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
}
.review-text h6{
    color: #fc6e29;
    text-align: center;
    font-size: 16px;
}
.review-img{
    position: absolute;
    top: 0;
    right: 0;
}
.effect{
    background: #fff;
}
.effect-box{
    padding: 35px 0;
}
.effect-text{
    position: relative;
    left: 30px;
}
.effect-text h2{
    font-size: 30px;
    color: #aad400;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}
.effect-list ul li{
    list-style: none;
}
.effect-list ul li:before{
    content: "\2714\0020";
}
.mask-footer{
    background: #fff;
    padding: 20px 0;
    flex: 0 0 auto;
}
.footer-links{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 5px;
}
.footer-links a{
    color: #fc6e29;
    font-size: 18px;
    margin: 0 auto;
}
.footer-text {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.footer-text p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}